.load-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 

}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    // height: 150px;
  }